body {
     font-family: arial;
}
 h1 {
     color: black;
}
 nav, article, #sidebar, footer, #imageBox {
     border: 1px solid #ddd;
     padding: 15px;
}
 nav, article, footer, #imageBox {
     background: #eee;
}
/*----------------------------Below is the catch all CSS -----------------------------------------------*/
/*Define the basic*/
 .content {
     display: grid;
    /*.content will be a grid*/
     gap: 20px;
    /* 20 px gutter between boxes*/
     grid-template-areas: "nav" "article" "second_sidebar" "imageBox" "sidebar" "footer";
}
 nav ul {
     display: flex;
    /*This defines a flex container - only declared once*/
     justify-content: space-between;
     list-style: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) { /*The min width of screen has to be 640 px for this style to take effect*/

     .content {
        grid-template-columns: 3fr 1fr;
         grid-template-areas: 
         "nav nav" 
         "article sidebar " 
         "imageBox second_sidebar " 
         "footer footer ";
    }
}


/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .content {
         grid-template-columns: 2fr 2fr;
         grid-template-areas: 
         "nav nav" 
         "article second_sidebar " 
         "imageBox sidebar " 
         "footer footer ";
    }
}
 @media only screen and (min-width: 1024px) {
    /* Large devices (laptops/desktops, 1024px and up) */
     .content {
         grid-template-columns: 3fr 1fr 1fr;
        /*fr = fraction*/
        /* number of columns and how its split*/
         grid-template-areas: 
         "nav nav nav" 
         "article second_sidebar sidebar" 
         "imageBox second_sidebar sidebar" 
         "footer footer footer";
    }
}
 
 #imageBox {
     display: flex;
    /*This defines a flex container - only declared once*/
     flex-wrap: wrap;
}
 article {
     grid-area: article;
    /* <section class="article"> */
     border: 1px solid black;
     padding: 10px;
}
#sidebar {
     grid-area: sidebar; /*  <div id="sidebar">*/

     border: 1px solid black;
     padding: 5px;
}
 #sidebar {
     grid-area: sidebar;
    /* <div id="sidebar">*/
     border: 1px solid black;
     padding: 5px;
}
 #second_sidebar {
     grid-area: second_sidebar;
    /* <div id="sidebar">*/
     border: 1px solid black;
     padding: 5px;
}
 #mainNav {
     grid-area: nav;
     border: 1px solid black;
     padding: 5px;
}
 #imageBox {
     grid-area: imageBox;
     border: 1px solid black;
     padding: 5px;
}
 #imageBox figure{
     float: left;
     width: 200px;
     margin: 0 10px 0 0;
}
 #imageBoxContent {
     float: left;
     width: 400px;
}
 footer {
     grid-area: footer;
    /* <section class="article"> */
     border: 1px solid black;
     padding: 5px;
}